
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #BCB7B7; */
}

a {
    text-decoration: none;
    
}

.allprojects {
    
    display: flex;
    justify-content: center;
}

.ytdownloader {
    margin-top:20px
    background-color: #260EC7;
    padding: 20px;
    border-radius: 33px;
    color: #fff;
}
